[submodule "thirdparty/openssl"]
	path = thirdparty/openssl
	url = https://github.com/openssl/openssl.git
  ignore = all
[submodule "thirdparty/zstd"]
	path = thirdparty/zstd
	url = https://github.com/facebook/zstd.git
  ignore = all
[submodule "thirdparty/linenoise"]
	path = thirdparty/linenoise
	url = https://github.com/antirez/linenoise.git
  ignore = all
